<p>district works!</p>
<div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let item of district">
        <div class="card" style="width: 18rem;">
        <img src="{{item.image}}"class="card-img-top" alt="...">
        <div class="card body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-detail">{{item.details}}</p>
          <a (click)="gotoHere(item.id)" class="btn btn-primary">click here!</a>
        </div>
    </div>
      </div>
    </div>
  </div>